
a img{
    object-fit: cover;
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
        "comment home settings"; 
    background-color: #447241; 
    padding: 10px;
    z-index: 100; /* Optional: ensures the footer is on top of other content */
}

.container-fluid{
    background-color: #447241;
    padding: 5px;
}
.navbar {
    position: fixed;
 
    width: 100%;
    z-index: 1000; 
    padding: 0;
}
.comments {
    grid-area: comment;
    
}

.home {
    grid-area: home;
}

.settings {
    grid-area: settings;
}

.footer img {
    width: 30px;
    height: 30px;
    object-fit: cover;
    display: block;
    margin: auto; 
}

a img{
  object-fit: cover;
}
body, html {
  height: 100%;
  width: 100%;
}

.hero-image {
background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/plantpal_bg.jpg');
 
/* Set a specific height */
height: 100%;

/* Position and center the image to scale nicely on all screens */
background-position: center;
background-repeat: no-repeat;
background-size: cover;
position: relative;
}

.hero-text {
    text-align: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: large;
    z-index: 1000;
}

#home{
    top: 3%;
    width: 100%;
}

.btn btn-warning{
    background-color: green;
}

#header{
    font-size: 60px;
    position: relative;
    bottom: 20px;
}
.mb-3{
    margin: 20px !important;
}

#message{
    font-size: 15px;
    position: relative;
    bottom: 30px;
    
}

#create{
    font-size: 15px;
    position: relative;
    bottom: 10px;
}

.btn-success{
    font-size: 15px;
}

#headername{
    font-size: 50px;
}

.search{
    width: 100%;
    margin-top:3%;
    margin-bottom: 3%;
}

.add-plants{
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin-left: 1%;
    margin-right: 3%;
    padding: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

#addPlantButton{
    width: 40px;
    height: 40px;
    cursor: pointer;
}

/* css for the template card to be the same size */
.card {
    display: grid;
    grid-template-columns: 8rem auto;
    width: 100%;
    height: 8rem;
    margin-bottom: 1%;
}

.card-image {
    height: 7.5rem;
    width: 7.5rem;
    margin: 1%;
}

.img-container{
    width: 100%;
    height: 25rem;
    overflow: hidden;
}

#img-size{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.card-body {
  padding: 10px;
  height: 40%;        
  box-sizing: border-box;
}

.card-title {
  margin: 0;
  padding-bottom: 1rem;
}

.water-date{
    margin-bottom: 0;
}


.col-12 mb-3{
    margin: 0;
}

.plants-go-here {
    display: block;
}

.container {
    min-height: 90%;
    padding-bottom: 60px;
    padding-top: 60px;
}

.plant-img {
    width: 100%;
}

/*tab container*/
.tabs {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    align-items: center;
    justify-content: center;
    gap: 5px; 
    margin: 5px;
    border: none;
    border-bottom: 2px solid transparent;
    font-size: 16px;
    cursor: pointer;
   
}

.tab.active {
    border-bottom: 2px solid #28a745; 
}

/* Tab Content */
.tab-content {
    width: 100%;
    margin-top: 20px;
}

/* Hide non-active content */
.hidden {
    display: none;
}

/* Input Fields */
.input-field {
    display: block;
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #28a745;
    color: black;
}

/* Save Button in the water sched tab */
.save-button {
    color: white;
    padding: 10px 40px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom:30px;
}

.save-button:hover {
    background-color: #1e7d34;
}

#about-img{
    width: 200px;
    height:200px;
}

.care-container {
    width: 100%;
    border-collapse: collapse; /* Removes space between cells */
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  .care-container th,
  .care-container td {
    border: 1px solid #ccc;
    padding: 10px;
    
    text-align: center;
    
  }

  #removePlantButton{
    margin-bottom: 20px;
    padding: 10px;
  }
  
  
  
  .nav-icon.active-icon {
    filter: brightness(0) saturate(100%) invert(59%) sepia(98%) saturate(336%) hue-rotate(61deg) brightness(94%) contrast(92%);
    opacity: 1;
  }
  

