
a img{
    object-fit: cover;
}

.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
        "comment home settings"; 
    width: 100%;
    background-color: #447241; 
    padding: 10px;
}
.container-fluid{
    background-color: #447241;
}
.navbar{
    padding:0%;
}
.comments {
    grid-area: comment;
}

.home {
    grid-area: home;
}

.settings {
    grid-area: settings;
}

.footer img {
    width: 30px;
    height: 30px;
    object-fit: cover;
    display: block;
    margin: auto; 
}

a img{
  object-fit: cover;
}
body, html {
  height: 100%;
  width: 100%;
}

.hero-image {
background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/plantpal_bg.jpg');
 
/* Set a specific height */
height: 100%;

/* Position and center the image to scale nicely on all screens */
background-position: center;
background-repeat: no-repeat;
background-size: cover;
position: relative;
}

.hero-text {
    text-align: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: large;
    z-index: 1000;
}

#home{
    top: 3%;
    width: 100%;
}

.btn btn-warning{
    background-color: green;
}

#header{
    font-size: 60px;
    position: relative;
    bottom: 20px;
}
.mb-3{
    margin: 20px !important;
}

#message{
    font-size: 15px;
    position: relative;
    bottom: 30px;
    
}

#create{
    font-size: 15px;
    position: relative;
    bottom: 10px;
}

.btn-success{
    font-size: 15px;
}

#headername{
    font-size: 50px;
}

.search{
    width: 100%;
    margin: 1%;
}

.add-plants{
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin-left: 1%;
    margin-right: 3%;
    padding: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

/* css for the template card to be the same size */
.card {
    display: grid;
    grid-template-columns: 8rem auto;
    width: 100%;
    height: 8rem;
    margin-bottom: 1%;
}

.card-image {
    height: 7.5rem;
    width: 7.5rem;
    margin: 1%;
}

.card-body {
  padding: 10px;
  height: 40%;        
  box-sizing: border-box;
}

.card-title, .card-type {
  margin: 0;
  padding-bottom: 1rem;
}

.col-12 mb-3{
    margin: 0;
}

.plants-go-here {
    display: block;
}

#addbutton{
    text-decoration: none;
}

.container {
    min-height: 90%;
}

.plant-img {
    width: 100%;
}