
a img{
    object-fit: cover;
}

.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
        "comment home settings"; 
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: lightgray; 
    padding: 10px;
}

.comments {
    grid-area: comment;
}

.home {
    grid-area: home;
}

.settings {
    grid-area: settings;
}

.footer img {
    width: 30px;
    height: 30px;
    object-fit: cover;
    display: block;
    margin: auto; 
}

a img{
  object-fit: cover;
}
body, html {
  height: 100%;
}

.hero-image {
background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/plantpal_bg.jpg');
 
/* Set a specific height */
height: 100%;

/* Position and center the image to scale nicely on all screens */
background-position: center;
background-repeat: no-repeat;
background-size: cover;
position: relative;
}

.hero-text {
    text-align: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: large;
    z-index: 1000;
}

#home{
    top: 3%;
    width: 100%;
}

.btn btn-warning{
    background-color: green;
}

#header{
    font-size: 60px;
    position: relative;
    bottom: 20px;
}
.mb-3{
    margin: 20px !important;
}

#message{
    font-size: 15px;
    position: relative;
    bottom: 30px;
    
}

#create{
    font-size: 15px;
    position: relative;
    bottom: 10px;
}

.btn-success{
    font-size: 15px;
}

#headername{
    font-size: 50px;
}

.search{
    width: 100%;
}

.add-plants{
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin-left: 1%;
    margin-right: 3%;
    padding: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.added-plants{
    display: grid;
    grid-template-columns: auto auto;
    width: 100%;
    height: 2rem;
}

.plant-image{
    height: 1.8rem;
    width: 1.8rem;
}